<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cochil Data Input</title>
    <!-- Bootstrap core ` -->
    <link th:href="@{/static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css}"
          href="../static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/AdminLTE.min.css}"
          href="../static/node_modules/admin-lte/dist/css/AdminLTE.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/skins/skin-blue-light.min.css}"
          href="../static/node_modules/admin-lte/dist/css/skins/skin-blue-light.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/font-awesome/css/font-awesome.min.css}"
          href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="skin-blue-light sidebar-mini">
<div class="wrapper">
    <header th:replace="fragments/header :: header">&nbsp;</header>  <!-- main header -->
    <aside th:replace="fragments/left_sidebar :: left_sidebar">&nbsp;</aside>  <!-- main sidebar -->

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Cochil
                <small>데이터 입력 폼</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#" class="active">Forms</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12" th:replace="fragments/form/ingredient_form :: ingredient_form"></div>
                <!-- 성분 입력 폼 -->
            </div>
            <div class="row">
                <div class="col-md-6" th:replace="fragments/form/manufacturer_form :: manufacturer_form"></div>
                <!-- 제조사 입력 폼 -->
                <div class="col-md-6"></div>
            </div>
        </section>
    </div>
    <footer th:replace="fragments/footer :: 'footer'">&copy;</footer>
</div>

<script th:src="@{/static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js}"
        src="../static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js}"
        src="../static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/dist/js/app.min.js}"
        src="../static/node_modules/admin-lte/dist/js/app.min.js"></script>
<script th:src="@{/static/custom/js/data-input.js}"
        src="../static/custom/js/data-input.js"></script>
</body>
</html>