<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cochil Data List</title>
    <!-- Bootstrap core ` -->
    <link th:href="@{/static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css}"
          href="../static/node_modules/admin-lte/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/AdminLTE.min.css}"
          href="../static/node_modules/admin-lte/dist/css/AdminLTE.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/dist/css/skins/skin-blue-light.min.css}"
          href="../static/node_modules/admin-lte/dist/css/skins/skin-blue-light.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/select2/select2.min.css}"
          href="../static/node_modules/admin-lte/plugins/select2/select2.min.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css}"
          href="../static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link th:href="@{/static/node_modules/font-awesome/css/font-awesome.min.css}"
          href="../static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="skin-blue-light sidebar-mini">
<div class="wrapper">
    <header th:replace="fragments/header :: header">&nbsp;</header>  <!-- main header -->
    <aside th:replace="fragments/left_sidebar :: left_sidebar">&nbsp;</aside>  <!-- main sidebar -->

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Cochil
                <small>데이터 리스트</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#" class="active">List</a></li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div th:replace="fragments/list/manufacturer_list :: manufacturer_list"></div>
                <!-- 제조사 리스트 -->
            </div>
            <div class="row">
                <div th:replace="fragments/list/product_list :: product_list"></div>
                <!-- 상품 리스트 -->
            </div>
            <div class="row">
                <div th:replace="fragments/list/ingredient_list :: ingredient_list"></div>
                <!-- 성분 리스트 -->
            </div>
        </section>
    </div>
    <footer th:replace="fragments/footer :: 'footer'">&copy;</footer>
</div>

<script th:src="@{/static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js}"
        src="../static/node_modules/admin-lte/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js}"
        src="../static/node_modules/admin-lte/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/dist/js/app.min.js}"
        src="../static/node_modules/admin-lte/dist/js/app.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/select2/select2.full.min.js}"
        src="../static/node_modules/admin-lte/plugins/select2/select2.full.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js}"
        src="../static/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
<script th:src="@{/static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js}"
        src="../static/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script th:src="@{/static/custom/js/data-list.js}"
        src="../static/custom/js/data-list.js"></script>
</body>
</html>