<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="col-md-12" th:fragment="ingredient_list">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">성분 데이터 리스트</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="ingredient_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                <!--<div class="dataTables_length" id="ingredient_length"><label>Show-->
                <!--<select name="ingredient_length" aria-controls="ingredient" class="form-control input-sm">-->
                <!--<option value="10">10</option>-->
                <!--<option value="25">25</option>-->
                <!--<option value="50">50</option>-->
                <!--<option value="100">100</option>-->
                <!--</select> entries</label></div>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                <!--<div id="ingredient_filter" class="dataTables_filter"><label>Search:-->
                <!--<input type="search" class="form-control input-sm" placeholder=""-->
                <!--aria-controls="ingredient"/></label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="ingredient" class="table table-striped table-bordered dataTable no-footer"
                               cellspacing="0"
                               width="100%" role="grid" aria-describedby="ingredient_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_desc" tabindex="0" aria-controls="ingredient" rowspan="1" colspan="1"
                                    aria-label="Id: activate to sort column ascending" aria-sort="descending"
                                    style="width: 316px;">Id
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="ingredient" rowspan="1" colspan="1"
                                    aria-label="Name: activate to sort column ascending" style="width: 207px;">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="ingredient" rowspan="1" colspan="1"
                                    aria-label="Explanation: activate to sort column ascending" style="width: 156px;">
                                    Explanation
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd" th:each="ingredient : ${ingredients}">
                                <td class="" th:text="${ingredient.id}">성분 아이디</td>
                                <td class="sorting_1" th:text="${ingredient.name}">성분 이름</td>
                                <td th:text="${ingredient.explanation}">성분 설명</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="row">-->
                <!--<div class="col-sm-5">-->
                <!--<div class="dataTables_info" id="ingredient_info" role="status" aria-live="polite">Showing 1 to-->
                <!--10-->
                <!--of 57-->
                <!--entries-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-7">-->
                <!--<div class="dataTables_paginate paging_simple_numbers" id="ingredient_paginate">-->
                <!--<ul class="pagination">-->
                <!--<li class="paginate_button previous disabled" id="ingredient_previous">-->
                <!--<a href="#" aria-controls="ingredient" data-dt-idx="0" tabindex="0">Previous</a>-->
                <!--</li>-->
                <!--<li class="paginate_button active"><a href="#" aria-controls="ingredient"-->
                <!--data-dt-idx="1"-->
                <!--tabindex="0">1</a></li>-->
                <!--<li class="paginate_button "><a href="#" aria-controls="ingredient" data-dt-idx="2"-->
                <!--tabindex="0">2</a></li>-->
                <!--<li class="paginate_button "><a href="#" aria-controls="ingredient" data-dt-idx="3"-->
                <!--tabindex="0">3</a></li>-->
                <!--<li class="paginate_button "><a href="#" aria-controls="ingredient" data-dt-idx="4"-->
                <!--tabindex="0">4</a></li>-->
                <!--<li class="paginate_button "><a href="#" aria-controls="ingredient" data-dt-idx="5"-->
                <!--tabindex="0">5</a></li>-->
                <!--<li class="paginate_button "><a href="#" aria-controls="ingredient" data-dt-idx="6"-->
                <!--tabindex="0">6</a></li>-->
                <!--<li class="paginate_button next" id="ingredient_next">-->
                <!--<a href="#" aria-controls="ingredient" data-dt-idx="7" tabindex="0">Next</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>